
// 表单元素
$element-line-height: 1.2 !default // 行高
$element-font-family: 'Arial' !default // 字体
$element-font-size: 14px !default // 字体
$element-border-radius: 0.2rem !default // 圆角
$element-cursor: pointer !default // 光标
$element-color: #363636 !default // 颜色
$element-background-color: white !default // 背景颜色
$element-border-color: #C6C6C6 !default // 边框颜色

// 文本色调
$text-light-color: $element-background-color !default
$text-darken-color: $element-color !default

// 主题颜色
$is-primary-color: #1aacda !default
$is-info-color: #a068f3 !default
$is-success-color: #27c24c !default
$is-error-color: #f44006 !default
$is-warn-color: #f79e20 !default
$is-theme-colors: ('is-primary': $is-primary-color, 'is-info': $is-info-color, 'is-warn': $is-warn-color, 'is-success': $is-success-color, 'is-error': $is-error-color) !default
